@font-face {
  font-family: 'Ulises';
  src: url('https://assets.accessibility.rocks/ulises-thin.woff2') format('woff2'),
       url('https://assets.accessibility.rocks/ulises-thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Ulises';
  src: url('https://assets.accessibility.rocks/ulises-thinitalic.woff2') format('woff2'),
       url('https://assets.accessibility.rocks/ulises-thinitalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Ulises';
  src: url('https://assets.accessibility.rocks/ulises-extralight.woff2') format('woff2'),
       url('https://assets.accessibility.rocks/ulises-extralight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Ulises';
  src: url('https://assets.accessibility.rocks/ulises-extralightitalic.woff2') format('woff2'),
       url('https://assets.accessibility.rocks/ulises-extralightitalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Ulises';
  src: url('https://assets.accessibility.rocks/ulises-light.woff2') format('woff2'),
       url('https://assets.accessibility.rocks/ulises-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Ulises';
  src: url('https://assets.accessibility.rocks/ulises-lightitalic.woff2') format('woff2'),
       url('https://assets.accessibility.rocks/ulises-lightitalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Ulises';
  src: url('https://assets.accessibility.rocks/ulises-semibold.woff2') format('woff2'),
       url('https://assets.accessibility.rocks/ulises-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Ulises';
  src: url('https://assets.accessibility.rocks/ulises-semibolditalic.woff2') format('woff2'),
       url('https://assets.accessibility.rocks/ulises-semibolditalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Ulises';
  src: url('https://assets.accessibility.rocks/ulises-heavy.woff2') format('woff2'),
       url('https://assets.accessibility.rocks/ulises-heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Ulises';
  src: url('https://assets.accessibility.rocks/ulises-heavyitalic.woff2') format('woff2'),
       url('https://assets.accessibility.rocks/ulises-heavyitalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Tchig Mono';
  src: url('https://assets.accessibility.rocks/tchigmono-regular.woff2') format('woff2'),
       url('https://assets.accessibility.rocks/tchigmono-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Tchig Mono';
  src: url('https://assets.accessibility.rocks/tchigmono-bold.woff2') format('woff2'),
       url('https://assets.accessibility.rocks/tchigmono-bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
